.container{
    position: relative;
}

.button{
    position: relative;
    bottom: 10px;
    right: 10px;
}

.menu{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.notification{
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 10px;
}