/* Header 1 */
.header1{
    background-color: #0d6efd;
    padding: 10px 20px;
    text-align: right;
}

.header1 a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;
}

.header1 a:hover{
    text-decoration: underline;
}

/* Header 2 */
.header2{
    background-color: #dee0e3;
    padding: 10px 20px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.nav-link{
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-link li a{
    color: #333;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    transition: color 0.3s;
}

.nav-link li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #0d6efd;
    transition: width 0.3s;
}

.nav-link li a:hover {
    color: #0d6efd;
}

.nav-link li a:hover::after{
    width: 100%;
}

.btn{
    background-color: #0d6efd;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(13, 110, 253, 0.3);
}
.btn:hover{
    background-color: #0056d2;
    box-shadow: 0 6px 10px rgba(13, 110, 253, 0.4);
    transform: translateY(-1px);
}