header{
    background-color: rgb(12, 136, 78);
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 10px 120px;
    justify-content: space-between;
    font-family: Georgia;
}

.logo-content{
    text-decoration: none;
    font-weight: 700;
    color: rgb(226, 238, 231);
}

.nav-link{
    display: flex;
    gap: 30px;
}

.nav-link li{
    list-style: none;
    position: relative;
}

.nav-link li a{
    text-decoration: none;
    font-weight: 700;
    color: rgb(226, 238, 231);
    position: relative;
    transition: color 0.3s;
}

#logout a{
    text-decoration: none;
    font-weight: 700;
    position: relative;
    color: rgb(226, 238, 231);
}

/* HOVER */
.nav-link li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: rgb(226, 238, 231);
    transition: width 0.3s;
}

.nav-link li a:hover::after{
    width: 100%;
}
#logout a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: rgb(226, 238, 231);
    transition: width 0.3s;
}

#logout a:hover::after{
    width: 100%;
}


/* BODY */
.container{
    display: flex;
    width: 100%;
    height: 100%;
}

.content-right{
    background-color: rgb(216, 210, 202);
    width: 70%;
    padding: 100% 5px;
    margin: 5px;
}
.content-left{
    background-color: rgb(216, 210, 202);
    width: 30%;
    padding: 100% 5px;
    margin: 5px;
}

/* FOOTTER */
.footer{
    background-color: beige;
    height: 30%;
    padding: 10% 100%;
    margin: 10px 10px;
}
